<div class="dashboard">
  <div class="dashboard-upper">
    <h1>Hello <span><%= current_user.username %></span>,</h1>
  </div>

  <div class="dashboard-lower">
    <div class="dashboard-lower-item">
      <p class="dashboard-subtitle">Favorite Lessons</p>
      <% if @favorite_lessons.empty? %>
        <div class="dashboard-card-width">
          <p>No favorites yet</p>
        </div>
      <% else %>
        <% @favorite_lessons.each do |f| %>
          <div class="dashboard-card">
            <div class="dashboard-card-upper">
              <div class="dashboard-card-icon">
                <%= render "shared/icons", object: f.lesson.language.name %>
              </div>
              <div class="dashboard-card-body">
                <%= f.lesson.title %>
              </div>
            </div>
            <div class="dashboard-card-actions">
              <%= link_to favorite_lesson_path(f.lesson.id, type: "unfavorite"), method: :put do %>
                <p class="card-action">unfavorite</p>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="dashboard-lower-item">
      <p class="dashboard-subtitle">Favorite Tutorials</p>
      <% if @favorite_tutorials.empty? %>
        <p>No favorites yet</p>
      <% else %>
        <% @favorite_tutorials.each do |f| %>
          <div class="dashboard-card">
            <div class="dashboard-card-tag">
              <p class="card-tag"><%= f.tutorial.topic.theme.title %> / <%= f.tutorial.topic.title %></p>
            </div>
            <div class="dashboard-card-upper">
              <div class="dashboard-card-icon">
                <%= render "shared/icons", object: f.tutorial.language.name %>
              </div>
              <div class="dashboard-card-body">
                <p><%= f.tutorial.title %></p>
              </div>
            </div>
            <div class="dashboard-card-actions">
              <%= link_to favorite_tutorial_path(f.tutorial.id, type: "unfavorite"), method: :put do %>
                <p class="card-action">unfavorite</p>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
